*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: 	#808080;
}
.bmi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container{
  box-shadow: 0px 0px 12px #ccc;
  border-radius: 8px;
  padding: 1rem;
  color: aliceblue;
}

input{
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px 0px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px #ccc;
  background-color: #e6e6fa;
}

.btn{
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 8px 0px;
  padding: 10px 0px;
  background-color: black;
  color: azure;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 12px #ccc;
}

.btn-reload{
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 8px 0px;
  padding: 10px 0px;
  background-color:#fff0f5;
  color:black;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}
.center{
  text-align: center;
  margin: 24px 0;
}

p{
  margin: 10px 0;

}

.img-container{
  text-align: center;

}
.img-container img{
  height: 180px;
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label{
  font-size: 20px;

}

